<div class="pull-right">
  <i class="fa fa-edit" (click)="onOpenModal(currentUser)"></i>
</div>

<div class="container" id="main-container">
  <div>
    <h2>Details for {{ this.currentUser?.firstName }}</h2>
  </div>
  <div>
    <label><strong>Role:</strong></label>
    <p>{{ currentUser?.role["title"] }}</p>
    <label><strong>First Name:</strong></label>
    <p>{{ currentUser?.firstName }}</p>
    <label><strong>Last Name:</strong></label>
    <p>{{ currentUser?.lastName }}</p>
    <label><strong>Username:</strong></label>
    <p>{{ currentUser?.username }}</p>
    <label><strong>Email:</strong></label>
    <p>{{ currentUser?.email }}</p>
    <label><strong>Phone:</strong></label>
    <p>{{ currentUser?.phone }}</p>
    <label><strong>Status:</strong></label>

    <div>
      <p *ngIf="currentUser?.activeStatus; else elseBlock">active</p>
      <ng-template #elseBlock>inactive</ng-template>
    </div>
  </div>
  <div>
    <!--a
      class="btn btn-primary tooltips"
      data-placement="top"
      data-toggle="tooltip"
      data-original-title="Edit"
      (click)="onOpenModal(currentUser)"
    >
-      <i class="fas fa-pencil-alt"></i
    ></a-->
  </div>
</div>

<!-- This is the edit modal -->
