<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.role.title }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isActive }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="users?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  No users found.
</div>

<div class="footer-pagination">
  <div>
    <span class="mr-2">Page Size</span>
    <select (change)="updatePageSize($any($event).target.value)">
      <option>5</option>
      <option selected="true">10</option>
      <option>25</option>
      <option>50</option>
    </select>
  </div>
  <div>
    <ngb-pagination
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [maxSize]="3"
      [boundaryLinks]="true"
      (pageChange)="listUsers()"
    >
    </ngb-pagination>
  </div>
</div>

<!--
  <div *ngIf="users" class="mat-elevation-z8">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.role.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.lastName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef>Active?</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.isActive }}</mat-cell>
    </ng-container>
  </div>
</mat-table> -->
