
<div class="card my-5" *ngIf='show'>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Balance</th>
          <th scope="col">Date Opened</th>
          <th scope="col">View/Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.id }}</td>
          <td>{{ account.accountType }}</td>
          <td>{{ account.balance }}</td>
          <td>{{ account.openDate }}</td>
          <td><i (click) = 'viewAccount(account)' class="fa fa-edit" id="editAccount"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card my-5" *ngIf='!show'>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Date Opened</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ account.id }}</td>
            <td>{{ account.accountType }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.openDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>