<div class="mt-5">
  <div>
    <div class="text-end me-2" id="new-account-button">
      <button
        type="submit"
        class="btn btn-success"
        routerLink="/account-registration"
      >
        + New Account
      </button>
    </div>
  </div>
  <div class="mt-3">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="accountType">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            (click)="setSort('accountType')"
          >
            Account Type
          </mat-header-cell>
          <mat-cell
            *matCellDef="let account"
            routerLink="/accounts/{{ account.id }}/edit"
          >
            {{ account.accountType }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nickName">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            (click)="setSort('nickName')"
          >
            Account Nickname
          </mat-header-cell>
          <mat-cell
            *matCellDef="let account"
            routerLink="/accounts/{{ account.id }}/edit"
          >
            {{ account.nickName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="balance">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            (click)="setSort('balance')"
          >
            Balance
          </mat-header-cell>
          <mat-cell
            *matCellDef="let account"
            routerLink="/accounts/{{ account.id }}/edit"
          >
            {{ account.balance }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        #paginator
        showFirstLastButtons
        [length]="totalElements"
        [pageIndex]="pageNumber"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageEvent = getAccountsPageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!--table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let field of fields" scope="col" [class]="field.class">
        {{ field.displayName }}
      </th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.accountType }}</td>
      <td>{{ account.nickName }}</td>
      <td>{{ account.balance }}</td>
      <td>
        <span
          class="fa fa-edit"
          [routerLink]="['/accounts', account.id, 'details']"
        ></span>
      </td>

      <td></td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="accounts?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  No accounts found.
</div>

<div class="footer-pagination">
  <div>
    <span class="mr-2">Page Size</span>
    <select (change)="updatePageSize($any($event).target.value)">
      <option>5</option>
      <option selected="true">10</option>
      <option>25</option>
      <option>50</option>
    </select>
  </div>
  <div>
    <ngb-pagination
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [maxSize]="3"
      [boundaryLinks]="true"
      (pageChange)="handleAccountsList()"
    >
    </ngb-pagination>
  </div>
</div-->
