<div class="pull-right">
  <button
    type="submit"
    class="btn btn-success"
    routerLink="/account-registration"
  >
    + New Account
  </button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let field of fields" scope="col" [class]="field.class">
        {{ field.displayName }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.id }}</td>
      <td>{{ account.nickName }}</td>
      <td>{{ account.balance }}</td>
      <td>
        <span
          class="fa fa-edit"
          [routerLink]="['/accounts', account.id, 'details']"
        ></span>
      </td>

      <td></td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="accounts?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  No accounts found.
</div>

<div class="footer-pagination">
  <div>
    <span class="mr-2">Page Size</span>
    <select (change)="updatePageSize($any($event).target.value)">
      <option>5</option>
      <option selected="true">10</option>
      <option>25</option>
      <option>50</option>
    </select>
  </div>
  <div>
    <ngb-pagination
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [maxSize]="3"
      [boundaryLinks]="true"
      (pageChange)="listAccounts()"
    >
    </ngb-pagination>
  </div>
</div>
