<div class="pull-right">
  <button type="submit" class="btn btn-success" routerLink="/account-registration"> + New Account</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nickname</th>
      <th>Balance</th>
      <th>View/Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.id }}</td>
      <td>{{ account.nickName }}</td>
      <td>{{ account.balance }}</td>
      <td><span class="fa fa-edit" [routerLink]="['/accounts',account.id,'edit']"></span></td>
      <!--td>
        <div *ngIf="user.activeStatus; else elseBlock">active</div>
        <ng-template #elseBlock>inactive</ng-template>
      </td-->
      <td></td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="accounts?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  No accounts found.
</div>
