<form #createUserForm="ngForm">

    <!--div class="form-group">
        <label for="userRole">Role Title:</label>
        <input id="userRole" class="form-control" type="text"
        placeholder="Role Title" name="userRole" required
        [(ngModel)]="user.userRole" #userRole="ngModel">
    </div-->

    <!--div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" class="form-control" type="text"
        placeholder="First Name" name="firstName" required
        [(ngModel)]="user.firstName" #firstName="ngModel">
    </div-->

    <!--div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" class="form-control" type="text"
        placeholder="Last Name" name="lastName" required
        [(ngModel)]="user.lastName" #lastName="ngModel">
    </div-->

    <!--div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input id="dob" class="form-control" type="text"
        placeholder="MM/DD/YYY" name="dob" required
        [(ngModel)]="user.dob" #dob="ngModel">
    </div-->

    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" class="form-control" type="text"
        placeholder="Email" name="email"
        [(ngModel)]="user.email" #email="ngModel">
        <span *ngIf="email.invalid && (createUserForm.submitted || email.dirty || email.touched)">
        <span *ngIf="email.hasError('yup_required')">Email is required</span>
        <span *ngIf="email.hasError('yup_typeError')">Email is required</span>
        <span *ngIf="email.hasError('yup_email')">Email is incorrect</span>
        </span>
    </div>

    <!--div class="form-group">
        <label for="phone">Phone Number:</label>
        <input id="phone" class="form-control" type="text"
        placeholder="Phone Number" name="phone" required
        [(ngModel)]="user.phone" #phone="ngModel">
    </div-->

    <!--div class="form-group">
        <label for="dateJoined">Date Joined:</label>
        <input id="dateJoined" class="form-control" type="text"
        placeholder="Date Joined" name="dateJoined"
        [(ngModel)]="user.dateJoined" #dateJoined="ngModel">
    </div-->

    <!--div class="form-group">
        <label for="activeStatus">Active Status:</label>
        <input id="activeStatus" class="form-control" type="text"
        placeholder="Active Status" name="activeStatus" required
        [(ngModel)]="user.activeStatus" #activeStatus="ngModel">
    </div-->

    <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" class="form-control" type="text"
        placeholder="Username" name="username"
        [(ngModel)]="user.username" #username="ngModel">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" class="form-control" type="text"
        placeholder="Password" name="password" required
        [(ngModel)]="user.password" #password="ngModel">
    </div>

</form>

<button class="btn btn-warning"
    (click)="createUser()"
    [disabled]="!createUserForm.form.valid">
    <span class="ml-1">Make New User</span>
</button>