<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.role.title }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div *ngIf="user.activeStatus; else elseBlock">active</div>
        <ng-template #elseBlock>inactive</ng-template>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
<div
  *ngIf="users?.length == 0"
  class="alert alert-warning col-md-12"
  role="alert"
>
  No users found.
</div>

<div class="footer-pagination">
  <div>
    <span class="mr-2">Page Size</span>
    <select (change)="updatePageSize($any($event).target.value)">
      <option>5</option>
      <option selected="true">10</option>
      <option>25</option>
      <option>50</option>
    </select>
  </div>
  <div>
    <ngb-pagination
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [maxSize]="3"
      [boundaryLinks]="true"
      (pageChange)="listUsers()"
    >
    </ngb-pagination>
  </div>
</div>
