<div class="pull-right">
  <button
    type="submit"
    class="btn btn-success"
    routerLink="/registration"
  >
    + New User
  </button>
</div>

<br>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="setSort('role')"> Role </mat-header-cell>
      <mat-cell *matCellDef="let user" routerLink='/users/{{ user.id }}'> {{user.role.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="setSort('lastName')"> Name </mat-header-cell>
      <mat-cell *matCellDef="let user" routerLink='/users/{{ user.id }}'> {{user.firstName + ' ' + user.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credential.username">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="setSort('credential.username')"> Username </mat-header-cell>
      <mat-cell *matCellDef="let user" routerLink='/users/{{ user.id }}'> {{user.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="setSort('email')"> Email </mat-header-cell>
      <mat-cell *matCellDef="let user" routerLink='/users/{{ user.id }}'> {{user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activeStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="setSort('activeStatus')"> Status </mat-header-cell>
      <mat-cell *matCellDef="let user" routerLink='/users/{{ user.id }}'> {{user.activeStatus}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    showFirstLastButtons
    [length]="totalElements"
    [pageIndex]="pageNumber"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent = getUsersPageEvent($event)">
  </mat-paginator>

  </div>
