<div class="mt-5">
  <span>
    <div class="pull-left">
      <div>
        <label>Filter by role: </label>
        <select (change)="filterByRole($event)">
          <option value="undefined">--All--</option>
          <option *ngFor="let role of roles" value="{{ role.name }}">
            {{ role.displayName }}
          </option>
        </select>
      </div>
      <div>
        <label>Filter by status: </label>
        <select (change)="filterByStatus($event)">
          <option value="undefined">--All--</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>
    <div class="text-end me-2">
      <button type="submit" class="btn btn-success" routerLink="/registration">
        + New User
      </button>
    </div>
  </span>
</div>

<br />

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="role">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="setSort('role')"
      >
        Role
      </mat-header-cell>
      <mat-cell
        *matCellDef="let user"
        routerLink="/users/{{ user.id }}/details"
      >
        {{ user.role.title }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="setSort('lastName')"
      >
        Name
      </mat-header-cell>
      <mat-cell
        *matCellDef="let user"
        routerLink="/users/{{ user.id }}/details"
      >
        {{ user.firstName + " " + user.lastName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credential.username">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="setSort('credential.username')"
      >
        Username
      </mat-header-cell>
      <mat-cell
        *matCellDef="let user"
        routerLink="/users/{{ user.id }}/details"
      >
        {{ user.username }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="setSort('email')"
      >
        Email
      </mat-header-cell>
      <mat-cell
        *matCellDef="let user"
        routerLink="/users/{{ user.id }}/details"
      >
        {{ user.email }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activeStatus">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="setSort('activeStatus')"
      >
        Status
      </mat-header-cell>
      <mat-cell
        *matCellDef="let user"
        routerLink="/users/{{ user.id }}/details"
      >
        {{ user.activeStatus }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator
    showFirstLastButtons
    [length]="totalElements"
    [pageIndex]="pageNumber"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageEvent = getUsersPageEvent($event)"
  >
  </mat-paginator>
</div>

<!--div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th
          *ngFor="let field of fields"
          scope="col"
          [class]="field.class"
          (click)="setSort(field.name)"
        >
          {{ field.displayName }}

          <span *ngIf="sorter === field.name">
            {{ asc ? " ↑" : " ↓" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" routerLink="/users/{{ user.id }}">
        <td>{{ user.role["title"] }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <div *ngIf="user.activeStatus; else elseBlock">active</div>
          <ng-template #elseBlock>inactive</ng-template>
        </td>
        <button
        class="btn btn-primary tooltips"
        data-placement="top"
        data-original-title="Edit"
        routerLink="/users/{{ user.id }}"
      >
        <i class="fas fa-pencil-alt"></i>
      </button>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="users?.length == 0"
    class="alert alert-warning col-md-12"
    role="alert"
  >
    No users found.
  </div>

  <div class="footer-pagination">
    <div>
      <span class="mr-2">Page Size</span>
      <select (change)="updatePageSize($any($event).target.value)">
        <option>5</option>
        <option selected="true">10</option>
        <option>25</option>
        <option>50</option>
      </select>
    </div>
    <div>
      <ngb-pagination
        [(page)]="pageNumber"
        [pageSize]="pageSize"
        [collectionSize]="totalElements"
        [maxSize]="3"
        [boundaryLinks]="true"
        (pageChange)="handleUsersList()"
      >
      </ngb-pagination>
    </div>
  </div>
</div-->
