<div>

  <div class="pull-right">
    <i class="{{edit ? 'fa fa-ban': 'fa fa-edit'}}" (click)="toggleEdit()"></i>
  </div>

  <br>

  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{account?.accountType}} - {{account?.nickName}}</li>
      <li class="list-group-item">Primary user: {{account?.users[0].firstName}} {{account?.users[0].lastName}}</li>
      <li class="list-group-item">Current balance: {{account?.balance}}</li>
    </ul>
  </div>
  <br>

