<div>

  <div class="pull-right">
    <i class="{{edit ? 'fa fa-ban': 'fa fa-edit'}}" (click)="toggleEdit()"></i>
  </div>

  <br>

  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{account?.accountType}} - {{account?.nickName}}</li>
      <li class="list-group-item">Primary user: {{account?.users[0].firstName}} {{account?.users[0].lastName}}</li>
      <li class="list-group-item">Current balance: {{account?.balance}}</li>
    </ul>
  </div>
  <br>

    <div *ngIf="account">
      <div class="alert alert-warning" *ngIf="account.id && deleteMessageEnabled">
        Delete account?&nbsp;&nbsp;<button class="btn btn-danger" (click)="delete($event)">Yes</button>&nbsp;&nbsp;
        <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
      </div>
      <button class="btn btn-danger"
        *ngIf="(account.id && !deleteMessageEnabled) && (account.activeStatus == true) && (account.balance==0)"
        (click)="deleteMessageEnabled = true">Delete Account</button>&nbsp;&nbsp;
      <small *ngIf="(account.activeStatus == true) && (account.balance!=0)">Accounts with existing balances cannot be
        deleted</small>
      <small *ngIf="(account.activeStatus == false)">Account is inactive</small>

  <br />
</div>
